@page "/timezone"

<h1>Current Time:</h1>

<p id="timezoneLocal" role="status">@currentTimeLocal [@timeZoneLocal.Id]</p>

<p id="tokyoTimeZona" role="status">@currentTime [@tokyoTimezoneId]</p>

<button class="btn btn-primary" @onclick="ShowTimeZone">Refresh</button>